<mat-card tabindex="0" [routerLink]="['/car']" class="tile">
  <mat-icon aria-hidden="false" aria-label="sun icon">
    electric_car
  </mat-icon>
  <mat-card-title>Car</mat-card-title>
</mat-card>

<mat-card tabindex="0" [routerLink]="['/solar']" class="tile">
  <mat-icon aria-hidden="false" aria-label="sun icon">wb_sunny</mat-icon>
  <mat-card-title>Solarpanels</mat-card-title>
</mat-card>

<mat-card tabindex="0" [routerLink]="['/home']" class="tile">
  <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
  <mat-card-title>Home</mat-card-title>
</mat-card>